extends ../layout

block content
    h1 Ajouter un utilisateur

    form(action=action method='post')#edit-table
        table
        tr
            th Pseudo
            td
            input(type ="text" name='pseudo' placeholder="Pseudo" required)
        tr
            th Mot de passe
            td
            input(name='password' type='password' placeholder="Password" required)

        tr
            th Prénom
            td
            input(type ="text" name='firstname' placeholder="Prénom" required)
        tr
            th Email
            td
            input(type ="email" name='email' placeholder="Email" required)

        input(type='submit', value='Envoyer')
